<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>科技</string>
		<key>urlString</key>
		<string>list/T1348649580692</string>
		<key>replyUrl</key>
		<string>tech_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>娱乐</string>
		<key>urlString</key>
		<string>list/T1348648517839</string>
		<key>replyUrl</key>
		<string>auto_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>原创</string>
		<key>urlString</key>
		<string>list/T1370583240249</string>
		<key>replyUrl</key>
		<string>tinyblog_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>亲子</string>
		<key>urlString</key>
		<string>list/T1397116135282</string>
		<key>replyUrl</key>
		<string>baby_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>社会</string>
		<key>urlString</key>
		<string>list/T1348648037603</string>
		<key>replyUrl</key>
		<string>news3_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>历史</string>
		<key>urlString</key>
		<string>list/T1368497029546</string>
		<key>replyUrl</key>
		<string>3g_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>军事</string>
		<key>urlString</key>
		<string>list/T1348648141035</string>
		<key>replyUrl</key>
		<string>news_junshi_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>数码</string>
		<key>urlString</key>
		<string>list/T1348649776727</string>
		<key>replyUrl</key>
		<string>digi_bbs</string>
	</dict>
</array>
</plist>
